@model DTech.Models.EF.Brand

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">Delete</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li>
                        <a asp-action="Index" class="btn btn-sm btn-success text-center">
                            <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i>
                            Back to List
                        </a>
                    </li>
                </ol>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-body py-0">
                        <div class="row">
                            <div class="col-9">
                                <table class="table">
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                                        <td>@Html.DisplayFor(model => model.Name)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Slug)</th>
                                        <td>@Html.DisplayFor(model => model.Slug)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.Logo)</th>
                                        <td>@Html.DisplayFor(model => model.Logo)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                                        <td>@Html.DisplayFor(model => model.CreatedBy)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.CreateDate)</th>
                                        <td>@Html.DisplayFor(model => model.CreateDate)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdatedBy)</th>
                                        <td>@Html.DisplayFor(model => model.UpdatedBy)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.UpdateDate)</th>
                                        <td>@Html.DisplayFor(model => model.UpdateDate)</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-3 text-center">
                                @Html.DisplayNameFor(model => model.Logo)
                                <br />
                                <img src="~/img/BrandLogo/@Model.Logo" alt="Brand Logo" width="150" />
                            </div>
                        </div>
                    </div> <!-- /.card-body -->
                    <div class="card-footer">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="BrandId" />
                            <button type="submit" value="Delete" class="btn btn-danger text-center">
                                <i class="fa-solid fa-trash fa-sm"></i>
                                Delete
                            </button>
                        </form>
                    </div> <!-- /.card-footer-->
                </div> <!-- /.card -->
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content-->
