@model DTech.Models.EF.Payment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.mainPage = "information";
    ViewBag.page = "payment";
}

<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">Payment Details</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item">
                        <a class="btn btn-sm btn-success text-center">
                            <i class="fa-solid fa-house fa-sm"></i>
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-action="Index">
                            Payment
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Details
                    </li>
                </ol>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-body py-0">
                        <table class="table">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Date)</th>
                                <td>@Html.DisplayFor(model => model.Date)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                                <td>@Html.DisplayFor(model => model.Amount)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.PaymentMethod.PaymentMethodId)</th>
                                <td>@Html.DisplayFor(model => model.PaymentMethod.Description)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Status)</th>
                                <td>
                                    @if (Model.Status.HasValue && ViewBag.StatusPaymentDictionary.ContainsKey(Model.Status.Value))
                                    {
                                        @ViewBag.StatusPaymentDictionary[Model.Status.Value]
                                    }
                                    else
                                    {
                                        <span>Unknown Status</span>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div> <!-- /.card-body -->
                    <div class="card-footer">
                        <a asp-action="Index" class="btn btn-sm btn-success text-center" style="padding-bottom: 0.3em; padding-top: 0.27em;">
                            <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i>
                            Back to List
                        </a>
                    </div> <!-- /.card-footer-->
                </div> <!-- /.card -->
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content-->
