@{
    var mainPage = ViewBag.MainPage as string ?? "";
    var page = ViewBag.Page as string ?? "";
}

<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <!--begin::Sidebar Brand-->
    <div class="sidebar-brand"> <!--begin::Brand Link--> <a href="../index.html" class="brand-link"> <!--begin::Brand Image--> <img src="../../../dist/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image opacity-75 shadow"> <!--end::Brand Image--> <!--begin::Brand Text--> <span class="brand-text fw-light">AdminLTE 4</span> <!--end::Brand Text--> </a> <!--end::Brand Link--> </div> <!--end::Sidebar Brand--> <!--begin::Sidebar Wrapper-->
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <!--begin::Sidebar Menu-->
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-speedometer"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                <li class="@string.Join(" ", new[] { "nav-item", mainPage == "information" ? "menu-open" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                    <a href="#" class="@string.Join(" ", new[] { "nav-link", mainPage == "dashboard" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                        <i class="nav-icon bi bi-table"></i>
                        <p>
                            Information
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Admins" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "admin" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "admin" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Admin Account</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Advertisements" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "advertisement" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "advertisement" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Advertisement</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Brands" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "brand" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "brand" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Brand</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Categories" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "category" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "category" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Category</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Coupons" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "coupon" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "coupon" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Coupon</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Customers" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "customer" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "customer" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Customer</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Feedbacks" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "feedback" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "feedback" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Feedback</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Menus" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "menu" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "menu" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Menu</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Orders" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "order" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "order" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Order</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Payments" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "payment" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "payment" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Payment</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="PaymentMethods" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "paymentmethod" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "paymentmethod" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Payment Method</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Posts" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "post" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "post" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Post</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="PostCategories" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "postcategory" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "postcategory" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Post Category</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Products" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "product" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "product" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Product</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Suppliers" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "supplier" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "supplier" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Supplier</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Topics" asp-action="Index" class="@string.Join(" ", new[] { "nav-link", page == "topic" ? "active" : "" }.Where(c => !string.IsNullOrEmpty(c)))">
                                <i class="@string.Join(" ", new[] { "nav-icon bi", page == "topic" ? "bi-record-circle" : "bi-circle" }.Where(c => !string.IsNullOrEmpty(c)))"></i>
                                <p>Topic</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-box-seam-fill"></i>
                        <p>
                            Widgets
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../widgets/small-box.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Small Box</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../widgets/info-box.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>info Box</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../widgets/cards.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Cards</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-clipboard-fill"></i>
                        <p>
                            Layout Options
                            <span class="nav-badge badge text-bg-secondary me-3">6</span> <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../layout/unfixed-sidebar.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Default Sidebar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../layout/fixed-sidebar.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Fixed Sidebar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../layout/fixed-complete.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Fixed Complete</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../layout/sidebar-mini.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Sidebar Mini</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../layout/collapsed-sidebar.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Sidebar Mini <small>+ Collapsed</small></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../layout/logo-switch.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Sidebar Mini <small>+ Logo Switch</small></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../layout/layout-rtl.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Layout RTL</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-tree-fill"></i>
                        <p>
                            UI Elements
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../UI/general.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>General</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../UI/timeline.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Timeline</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-pencil-square"></i>
                        <p>
                            Forms
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../forms/general.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>General Elements</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-header">EXAMPLES</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-box-arrow-in-right"></i>
                        <p>
                            Auth
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-box-arrow-in-right"></i>
                                <p>
                                    Version 1
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../examples/login.html" class="nav-link">
                                        <i class="nav-icon bi bi-circle"></i>
                                        <p>Login</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../examples/register.html" class="nav-link">
                                        <i class="nav-icon bi bi-circle"></i>
                                        <p>Register</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-box-arrow-in-right"></i>
                                <p>
                                    Version 2
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="../examples/login-v2.html" class="nav-link">
                                        <i class="nav-icon bi bi-circle"></i>
                                        <p>Login</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="../examples/register-v2.html" class="nav-link">
                                        <i class="nav-icon bi bi-circle"></i>
                                        <p>Register</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="../examples/lockscreen.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Lockscreen</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">DOCUMENTATIONS</li>
                <li class="nav-item">
                    <a href="../docs/introduction.html" class="nav-link">
                        <i class="nav-icon bi bi-download"></i>
                        <p>Installation</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../docs/layout.html" class="nav-link">
                        <i class="nav-icon bi bi-grip-horizontal"></i>
                        <p>Layout</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../docs/color-mode.html" class="nav-link">
                        <i class="nav-icon bi bi-star-half"></i>
                        <p>Color Mode</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-ui-checks-grid"></i>
                        <p>
                            Components
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../docs/components/main-header.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Main Header</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="../docs/components/main-sidebar.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Main Sidebar</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-filetype-js"></i>
                        <p>
                            Javascript
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="../docs/javascript/treeview.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Treeview</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="../docs/browser-support.html" class="nav-link">
                        <i class="nav-icon bi bi-browser-edge"></i>
                        <p>Browser Support</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../docs/how-to-contribute.html" class="nav-link">
                        <i class="nav-icon bi bi-hand-thumbs-up-fill"></i>
                        <p>How To Contribute</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../docs/faq.html" class="nav-link">
                        <i class="nav-icon bi bi-question-circle-fill"></i>
                        <p>FAQ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../docs/license.html" class="nav-link">
                        <i class="nav-icon bi bi-patch-check-fill"></i>
                        <p>License</p>
                    </a>
                </li>
                <li class="nav-header">MULTI LEVEL EXAMPLE</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-circle-fill"></i>
                        <p>Level 1</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-circle-fill"></i>
                        <p>
                            Level 1
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Level 2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>
                                    Level 2
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon bi bi-record-circle-fill"></i>
                                        <p>Level 3</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon bi bi-record-circle-fill"></i>
                                        <p>Level 3</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon bi bi-record-circle-fill"></i>
                                        <p>Level 3</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Level 2</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-circle-fill"></i>
                        <p>Level 1</p>
                    </a>
                </li>
                <li class="nav-header">LABELS</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-circle text-danger"></i>
                        <p class="text">Important</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-circle text-warning"></i>
                        <p>Warning</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-circle text-info"></i>
                        <p>Informational</p>
                    </a>
                </li>
            </ul> <!--end::Sidebar Menu-->
        </nav>
    </div> <!--end::Sidebar Wrapper-->
</aside>
